cgi/dml/dtd/userspec.dtd

  <!ELEMENT userspec (kort,functie,beeld,omgeving)>
  <!ELEMENT kort    (#PCDATA)>
  <!ELEMENT functie (regel+)>
  <!ELEMENT beeld   (regel+)>
  <!ELEMENT product (regel+)>
  <!ELEMENT omgeving (baten,kosten,regel+)>
  <!ELEMENT baten   (#PCDATA)>
  <!ELEMENT kosten  (#PCDATA)>
  <!ELEMENT regel   (#PCDATA)>
